.messenger-layout {
    min-height: 499px;
    height: 100vh;
}

.messenger-wrapper {
    background-color: #03A9F4;
    border: 1px solid #03A9F4;
    border-radius: 7px;
    overflow: hidden;
    margin: 5px;
}